<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo">
          <a href="#"><img src="../../assets/img/grapeopus.png" style="width: 50%;margin-top: 15px"></a></h2>
      </div>
      <div class="col-sm-2">
        <h5>Get started</h5>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/signup">Sign up</a></li>
          <li><a routerLink="/signin">Sign in</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Other Projects</h5>
        <ul>
          <li><a href="http://www.csiakgec.in" target="_blank">CSI AKGEC</a></li>
          <li><a href="#">TVguide</a></li>
          <li><a href="#">Do.Now</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="https://twitter.com/anmolvashistha" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/anmolvashisthaav" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/anmolvashistha/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/official-av" target="_blank" class="google"><i class="fa fa-github"></i></a>
        </div>
        <button type="button" class="btn btn-default">Contact us</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2017 Anmol Vashistha </p>
  </div>
</footer>
