<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>A Personal Recipe Book</h1><br>
          <hr class="intro-divider">
          <h4 class="intro-content">
            GrapeOpus empowers individuals, with a platform to build their very own, personalised
            recipe book.
          </h4>
          <br>
          <button type="button" routerLink="/signup" class="btn btn-secondary btn-lg">Sign up</button>
          <button type="button" routerLink="/signin" class="btn btn-primary btn-lg">Sign in</button>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->
