img {
	max-height:100%;
  width: 100%;
  object-fit: contain;
}

a {
  color: black;
}
a:hover{
  color:black;
}
.scroller {
  max-height:520px;
  overflow-y: auto;
}

.desc {
  padding:10px;
  background-color: #bdbdbd ;
  font-weight:bold;
  width:100%;
  margin:10px 0 10px 0;
}
