<div class="container" style="padding-top:50px;padding-bottom: 50px">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 align-self-center">
      <div class="card">
        <div class="card-header">
          Register
        </div>
        <div class="card-body">
          <h4 class="card-title">Enter Credentials</h4>
          <form (ngSubmit)="onSignUp(f)" #f="ngForm">
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="fname" ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lname" ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" ngModel class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
